body{
    background-color:rgb(145, 236, 142) ;
    font-family:"Roboto", system-ui ;
}
.fer{
    background-color: white;
    /* margin-top: 34vh; */
    margin-left: 66vh;
    margin-top: 30vh;
margin-right: 70vh;
/* padding-left:2vh ; */
/* padding-right:2vh ; */
/* padding-top: 2vh; */
border-radius: 7px;
}
p{
    font-size: large;
    font-weight: 700 ;
}
.er{
    padding-left:2vh ;
    padding-right:2vh ;
    padding-top: 2px;
    /* border-radius: 7px;   */
}
.no ol li {
    padding-top: 2px;
    padding-left:2vh ;
padding-right:2vh ;
font-size: 17px;
font-weight: 500;
/* padding-top: 2vh; */
/* border-radius: 7px; */
}
.mis{
    padding-left:3px ;
padding-right:3px ;
padding-top: 5px;
padding-bottom: 8px;
/* border-radius: 7px; */
}
hr{
    padding: 0;
}
.diff{
/* padding-top: 12vh; */
    margin-left: 45vh;

}
a .di{
    text-decoration: none;
    color: whitesmoke;
}
.f{
    text-decoration: none;
    color:white;
    background-color: rgb(36, 238, 36);
}
.di{
    color:white;
    background-color: rgb(36, 238, 36);
    border-radius: 6px;
    padding-top: 4px;
padding-bottom: 4px;
padding-left: 8px;
padding-right: 8px;
border: 2px solid rgb(166, 226, 106);

}
 .diff{
color:rgb(154, 255, 3) ;
border-radius: 4px;
border: 2px solid rgb(19, 255, 19);
padding-top: 4px;
padding-bottom: 4px;
padding-left: 8px;
padding-right: 8px;
background-color: white;
}
hr{
    width: 100%;
}
.d{
    text-decoration: none;
    color: rgb(91, 124, 40);

}
button:hover{
    opacity: 0.7;
    margin-right: 1px;
}
button:active{
    background-color: rgb(103, 155, 51);
}
span{
    color:rgb(0, 134, 0) ;
}

